body{
  font-family: Arial;
}

.container {
  display: grid;
  height: 97vh;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(4 , 1fr);
  grid-gap: 5px;
  /*DevFree: para alinear los grid podemos utilizar las siguiente propiedades
    justify-items: start end center stretch; para alineado horizontal (de izquierda
    a derecha)
    align-items: start end center stretch; para alineado vertical (de arriba
    hacia abajo )*/
    justify-items: center;
    align-items: center;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

/*#DevFree: Tambien podemos posicionar por un solo elemento de HTML
  Solo se alineara a si mismo*/
.item:nth-of-type(5){
  justify-self: start;
  align-self: start;
}
